<!DOCTYPE html>
<html>
<head>
  <title>Charlotte Smith</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Fugaz+One|Montserrat|Oleo+Script+Swash+Caps|Vast+Shadow" rel="stylesheet">
  <link rel="stylesheet" href="/css/video-react.css" />

  <%= javascript_include_tag "vendor/modernizr" %>
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="nav">
    <nav>
      <!-- <%= image_tag "headshot.png" %> -->
      <h1><a href="/">CHARLOTTE SMITH</a></h1>
      <h2>Software Developer</h2>
    </nav>

    <div id="actions">
      <ul>
        <li><a href="/projects"><i class="fas fa-code-branch"></i> PROJECTS</a></li>
        <li><a href="/blog"><i class="fas fa-edit"></i> BLOG</a></li>
        <li><a href="/about"><i class="fas fa-user"></i> ABOUT</a></li>
        <li><a href="/contact"><i class="far fa-comments"></i> CONTACT</a></li>
      </ul>
    </div>
  </div>

  <!-- <%- flash.each do |key, value| -%>
  <div class="flash flash-<%= key %>">
  <%= value %>
</div>
<%- end -%> -->

<%= yield %>

<%= javascript_include_tag 'application' %>
<%= javascript_pack_tag 'application' %>
<%= yield :extra_footer %>
</body>
</html>
