<!DOCTYPE html>
<html>
<head>
  <title>Charlotte Smith</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Fugaz+One|Montserrat|Oleo+Script+Swash+Caps|Vast+Shadow" rel="stylesheet">

  <%= javascript_include_tag "vendor/modernizr" %>

  <%= csrf_meta_tags %>
</head>
<body>

  <div id="nav">
    <nav>
      <!-- <%= image_tag "headshot.png" %> -->
      <h1><a href="/">CHARLOTTE SMITH</a></h1>
      <h2>Subheader text goes here</h2>
    </nav>

    <div id="actions">
      <ul>
        <li><a href="/projects">PROJECTS</a></li>
        <li><a href="/blog">BLOG</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/contact">CONTACT</a></li>
      </ul>
    </div>
  </div>

  <!-- <%- flash.each do |key, value| -%>
  <div class="flash flash-<%= key %>">
  <%= value %>
</div>
<%- end -%> -->

<%= yield %>

<%= javascript_include_tag 'application' %>
<%= javascript_pack_tag 'application' %>
<%= yield :extra_footer %>
</body>
</html>
